<header>
    <div class="upperleft"><img src="~/images/upperleft.png" /> </div>
    <div class="uppersearch"><img src="~/images/uppersearch.png" /></div>
    <div class="upperright" style="clear:both;"><img src="~/images/upperight.png" /></div>
</header>
