html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 0;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: #F6F8FC;
    width:100%;
    height:63px;
}
.upperleft{
    position: fixed;
    top: 0px;
    left: 0px;
}
.uppersearch {
    position: fixed;
    left: 251px;
    top: 0px;
}
.upperright {
    position: fixed;
    top: 0px;
    right: 0px;
}
.leftbar {
    position: fixed;
    background-color: #F6F8FC;
    height: 100%;
    width: 252px;
}