

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 0;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: #F6F8FC;
    width:100%;
    height:63px;
}
.upperleft{
    position: fixed;
    top: 0px;
    left: 0px;
}
.uppersearch {
    position: fixed;
    left: 251px;
    top: 0px;
}
.upperright {
    position: fixed;
    top: 0px;
    right: 0px;
}
.leftbar {
    position: fixed;
    background-color: #F6F8FC;
    height: 100%;
    width: 252px;
}
.topbar{
    position:fixed;
    left:252px;
}
.main {
    position: fixed;
    top: 108px;
    left: 252px;
    width:50%;
}
td {
    text-overflow: ellipsis;
    padding-bottom: 10px;
    overflow: hidden;
    width: 864px;
    white-space: nowrap;
    padding-top: 10px;
    color: rgb(32, 33, 36);
    background: #fff;
    border-collapse: collapse;
    border-bottom-color: rgb(128, 128, 128);
    border-left-color: rgb(128, 128, 128);
    border-right-color: rgb(128, 128, 128);
    border-top-color: rgb(128, 128, 128);
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
}
table {
    height:843px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    width: 864px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.time_created {
    -webkit-font-smoothing: antialiased;
    font-size: .75rem;
    font-weight: 700;
    white-space: nowrap;
    float: right;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.author {
    font-size: .875rem;
    white-space: nowrap;
    min-width: 200px;
    float: left;
    width: fit-content;
    margin-left: 20px;
    font-weight: 700;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.content_title {
    float:left;
    font-size: .875rem;
    width:100%;
    max-width: 100px;
    white-space: nowrap;
    font-weight: 700;
    -webkit-font-smoothing:antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.content_title::after{
    content:"...";
}
.checkbox {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    float:left;
    background-image: url("../images/checkbox.png");
    opacity:0.32;
}
.favourite {
    margin-left: 5px;
    float:left;
    height: 20px;
    width: 20px;
    background-image: url("../images/fav.png");
    opacity: 0.32;
}
right_bar {

}
.entry {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 843px;
    visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    top: -850px;
    position: relative;
    left: 880px;
    float: left;
}
.entry_title {
    padding: 20px 0 30px 72px;
    font-size: 22px;
    width: 100%;
    max-width: 100px;
    white-space: nowrap;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.entry_title_icons{
    position:fixed;
    left:1730px;
    top:110px;
}
.entry_author_image {
    padding: 0 16px;
    float: left;
}
.entry_author_image img {
    clip-path: circle();
    height: 40px;
    width: 40px;
}
.entry_mail {
    vertical-align: top;
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: rgb(94, 94, 94);
}
.entry_author {
    font-size: .875rem;
    font-weight: bold;
    float: left;
}
.entry_time_created {
    padding-left: 50px;
    vertical-align: top;
    float: left;
    font-size: .75rem;
    font-weight: 400;
    color: rgb(94, 94, 94);
}
.entry_comment_icons {
    position: fixed;
    left: 1730px;
    top: 180px;
}
.entry_content_value {
    white-space: break-spaces;
    color: rgb(34, 34, 34);
    font-size: 13px;
    position: relative;
    padding-top: 40px;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 330px;
    text-overflow: ellipsis;
}
.entry_image {
    float: left;

}
.entry_image img {
    width: 100%;
    max-width: 600px;
 }